* {
    margin: 0;
    padding: 0
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(82, 74, 74);
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.screen {
    height: 100%;
    width: 100%;
}

.img_1{
    background-image:url("iTab-0.jpg");
    width:100%;
    height:100%;
    position:fixed;
    background-size:100% 100%;
}

.title {
    position: absolute;
    top: 90px;
    width: 100%;
    text-align: center;
}

.login_1 {
    height: 140px;
    width: 100%;
    clear: both;
    margin-top: 160px;
}

.login_2 {
    float: left;
    width: 40%;
    text-align: center;
    margin-left: 120px;
}

.QQ {
    width: 260px;
    color: white;
    background-color: dodgerblue;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.WX {
    width: 260px;
    color: white;
    background-color: lightgreen;
    margin-top: 10px;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.ZFB {
    width: 260px;
    background-color: darkgray;
    margin-top: 10px;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.line {
    height: 160px;
    float: left;
    border-left: 5px solid lightslategray;
    margin-left: 25px;
}

.line div {
    border: 3px solid darkgray;
    color: darkgray;
    border-radius: 100%;
    text-align: center;
    margin-left: -16px;
    margin-top: 65px;
    width: 20px;
    background-color: lightgray;
}

.or {
    float: left;
    margin-left: 185px;
    margin-bottom: 20px;
}

.login_3 {
    width: 40%;
    text-align: center;
    float: left;
    margin-left: 120px;
}

.user {
    margin-top: auto;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 260px;
}

.pwd,
.e,
.date {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 260px;
}

.btn-1 {
    width: 260px;
    height: 35px;
    margin-top: 15px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
}

.login_4 {
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
     margin-top: 310px; 

}

.sub {
    background-color: gray;
    color: white;
    height: 100%;
    border: none;
    float: left;
    justify-content: center;
}


.img_new{
    background-image:url("iTab-0\ \(3\).jpg");
    width:100%;
    height:100%;
    position:fixed;
    background-size:100% 100%;
}

.login-re {
    width: 480px;
    height: 400px;
    margin: 200px auto;
    position: relative;
    background-color: rgba(76, 72, 72, 0.148);
}

.login-top {
    width: 480px;
    height: 400px;
    margin: 10px auto;
    position: relative;
    padding-left: 40px;
    border-radius: 5px;
}

.login-re h3 {
    line-height: 110px;
    color: black;
    text-align: center;
}

.checkbox {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.login-top button {
    background-color: darkslategray;
    width: 25%;
    margin-top: 40px;
    margin-left: 130px;
    border-radius: 5px;
}


.img_2{
    background-image:url("iTab-0\ \(3\).jpg");
    width:100%;
    height:100%;
    position:fixed;
    background-size:100% 100%;
}

.img_3{
    background-image:url("iTab-0\ \(3\).jpg");
    width:100%;
    height:100%;
    position:fixed;
    background-size:100% 100%;
}

.mainbody {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.register {
    width: 260px;
    background-color: lightgreen;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    height: 35px;
}

.return {
    position: absolute;
    bottom: 15%;
    width: 100%;
    height: 40px;
}

.btn {
    background-color: dimgray;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
}

hr {
    border: 1px dashed white
}

.manage {
    width: 100%;
    height: 100%;
}

.manage_1 {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    text-align: center;
}

.left {
    background-color: blue;
    color: white;
    width: 10%;
    height: 100%;
    float: left;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
    color: white;
    background-color: blue;
    width: 100%;
    border: none;
    text-align: left;
}

.right {
    background-color: white;
    color: blue;
    height: 100%;
    text-align: center;
    position: relative;
    width: 90%;
    float: left;
}

.manage_2 {
    background-color: dodgerblue;
    color: white;
    height: 25px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.t-head {
    color: dimgray;
    height: 50px;
}

.btn-edit {
    background-color: red;
    color: white;
}

.btn-delete {
    background-color: green;
    color: white;
}

div table {
    position: relative;
    margin-top: 60px;
    margin-left: 90px;
    border: 1px solid lightgrey;
    color: black;
    font-size: small;
}

div table th {
    width: 115px;
    overflow: hidden;
    height: 30px;
}

@media screen and (max-width:800px) {
    .left { display: none;}
    .right {width: 100%;}
}

@media screen and (max-width: 650px) {
    .line { visibility: hidden;}
    .sub {width: 100%;}
}
@media screen and (min-width: 650px) {
    .or {display: none;}
    .sub {width: 50%;}
}
